@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* SOME COLORS PICKED FROM BOOTSTRAP */
:root {
    --base00: #fff;
    --base01: #f5f5f5;
    --base02: #c8c8fa;
    --base03: #565c64;
    --base04: #030303;
    --base05: #333;
    --base06: #fff;
    --base07: #9a6700;
    --base08: #bc4c00;
    --base09: #087990;
    --base0A: #795da3;
    --base0B: #183691;
    --base0C: #183691;
    --base0D: #795da3;
    --base0E: #a71d5d;
    --base0F: #333;
}

:root {
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #ffe484;
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 255,228,132;
    --bd-pink-rgb: 214,51,132;
    --bd-teal-rgb: 32,201,151;
    --docsearch-primary-color: var(--bd-violet);
    --docsearch-logo-color: var(--bd-violet);
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253; /*blue*/
    --bs-indigo-rgb: 102, 16, 242; /*indigo*/
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;  /*red*/
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}


/* I LIKE POPPINS FONT */
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
    background-color: var(--bs-gray-100);
}



/* DESKTOP CONTAINER CLASS:  & OTHER UTILITY CLASSES*/


.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  /* align-items: center; */
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.separation-line {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, rgba(var(--bs-indigo-rgb), 0.7), rgba(var(--bs-danger-rgb), 0.4));
}








      /* NAVBAR */

.navbar {
  min-height: 75px;
}

.container-fluid {
  min-height: 75px;
}

.navbar-brand {
  font-size: 1.8em;
}

.navbar-toggler-icon {
  width: 40px;
  height: 40px;
}

.navbar-nav{
  
}

.nav-link{
  font-size: 1.1em;
}



      /* DATE */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .date {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: 600;
}

                    /* MAIN SECTION */


      /* MAIN SECTION */

main{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

      /* ADD PLANS SECTION */


.add-plans{
  display: flex;
  width: 100%;
  padding: auto;
  align-items: center;
  justify-content: right;
  border-left: 2px solid var(--bs-orange);
  border-radius: 2px;
  cursor: pointer;
  /* border: 1px solid red; */
}

.add-plans-text {
  margin: 0;
  padding: 10px;
  font-weight: 600;
  /* border: 1px solid red; */
}

.plus-btn{
  position: absolute;
  z-index: 2;
  background-color: var(--bs-gray-100);
  padding: 0.5% 2%;
  /* padding: auto; */
  color: var(--bs-orange);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--bs-orange);
  border-radius: 12px;
  transition: all 0.5s;
}

.add-plans .plus-btn .bxs-plus-circle{
  color: var(--bs-orange);
  /* border: 1px solid green; */
}

.add-plans .plus-btn:hover{
  color: white;
  background-color: var(--bs-orange);
}

.plans-line{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2px;
  background-color: var(--bs-orange);
  margin: 3% 0px;
}

/* CREATE PLAN FORM */

.create-plans-form{
  margin: 75px 0;
  transition: all 0.75s;
}

.create-plans-form .plan-header{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5%;
  background-image: linear-gradient(to bottom right, rgba(var(--bs-indigo-rgb), 0.5), rgba(var(--bs-danger-rgb), 0.3));
  /* background-image: linear-gradient(rgba(var(--bd-pink-rgb), 0.3), rgba(var(--bd-pink-rgb), 0)); */
  border-radius: 10px;
}

.create-plans-form .plan-header .form-input{
  outline: none;
  padding: 10px 20px;
  border: none;
  background-color: white;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.1px;
  word-spacing: 2px;
  resize: none;
}

/* .create-plans-form .plan-header textarea{
  
} */

.label-inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.label-inputs .date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid white;
}

.label-inputs .date-time .form-label{
  color: white;
  font-weight: 600;
}

.label-inputs .date-time input{
  outline: none;
  padding: 10px 20px;
  border: none;
  background-color: white;
  border-radius: 5px;
  font-weight: 400;
}

.create-plans-form .plan-header .submit-btn {
  width: 50%;
  margin-top: 3%;
  padding: 10px 20px;
  border: none;
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  align-self: center;
}





/* TIME TEMPLATE*/

.time-template{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px 0 40px 0;
  padding: 10px 0px;
  border: 1px solid red;
}

.time-text{
  position: absolute;
  z-index: 2;
  font-size: 1.5em;
  /* margin: 0.5% 0px; */
  font-weight: 600;
  padding: 10px;
  background-color: var(--bs-gray-100);
  border-left: 2px solid var(--base04);
  border-right: 2px solid var(--base04);
}

.line {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2px;
  background-color: var(--base04);
  margin: 3% 0px;
}

            /* PLANS FEED */

.plans-cluster{
  display: flex;
  flex-direction: column;
}

.cards{
  margin: 0;
  padding: 0;

}

.card {
  max-width: 70vw;
}


.card-checkbox {
  display: flex;
  justify-content: left;
  align-items: center;
}

.card-checkbox i{
  padding: 0 10%;
}
































/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  
  .time-template .time-text{
    font-size: 1.5em;
  }

  header .date {
    font-size: 3em;
  }

  .cards .card-checkbox .card {

  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .time-template .time-text{
    font-size: 1.3em;
  }
  header .date {
    font-size: 3em;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .time-template .time-text{
    font-size: 1.3em;
  }

  header .date {
    font-size: 2.5em;
  }

  .label-inputs {
    flex-direction: column;
    gap: 15px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .time-template .time-text{
    font-size: 1.3em;
  }

  header .date {
    font-size: 2.5em;
  }

  .label-inputs {
    flex-direction: column;
    gap: 15px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 90%;
  }
  .time-template .time-text{
    font-size: 1.3em;
  }

  header .date {
    font-size: 2em;
  }

  .label-inputs {
    flex-direction: column;
    gap: 15px;
  }
}




